#root {
  margin: 0 auto;
}

.App {
  margin: 0;
  padding: 0;
  height: 1000vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  width: 100%;
}

.nav-container .sm-screen-div {
  display: none;
}

.nav-container div p {
  cursor: pointer;
}

.nav-container ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.scrolled {
  position: fixed;
  background-color: #eee;
  animation: toBottomDrop 0.5s ease forwards;
}

.scrolled a,
.scrolled p {
  color: #0e0e0e;
}

/* Animações */
@keyframes toBottomDrop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media Queries */
@media screen and (max-width: 450px) {
  .nav-container .lg-screen-div {
    display: none;
  }
  .nav-container .sm-screen-div {
    display: block;
  }
}
