#root {
  margin: 0 auto;
}

.App {
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  width: 100%;
  background-color: #1b1d1e;
  color: rgba(255, 255, 255, 0.87);
  transition: top 0.3s;
  z-index: 1000;
}

.nav-container .sm-screen-div {
  display: none;
}

.nav-container div p {
  cursor: pointer;
}

.nav-container ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  animation: toBottomDrop 0.5s ease forwards;
}

.scrolled a,
.scrolled p {
  color: #0e0e0e;
}

/* Dropdown Styles */
.dropdown,
.dropdown-on-scroll {
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.dropdown-on-scroll {
  position: fixed;
  margin-top: 78px;
  animation: toBottomDrop 0.5s ease forwards;
  top: 0;
}

.dropdown-on-scroll ul,
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-on-scroll li,
.dropdown li {
  border-bottom: 1px solid #eee;
}

.dropdown-on-scroll li:last-child,
.dropdown li:last-child {
  border-bottom: none;
}

.dropdown-on-scroll a,
.dropdown a {
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.dropdown-on-scroll a:hover,
.dropdown a:hover {
  background-color: #f9f9f9;
}

/* Home Page */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: url('./assets//img/dark-background-gif3.gif');
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.profile-picture img {
  width: 150px;
  border-radius: 50%;
}

.profile-description {
  margin-left: 2rem;
}

.profile-description h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.profile-description p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.profile-description ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.profile-description ul li {
  font-size: 1.5rem;
}

.profile-description ul li a {
  color: #fff;
}

.profile-description ul li a:hover {
  color: #ccc;
}

.about-container {
  text-align: left;
  padding: 3rem;
  color: #0e0e0e;
  background-color: #f9f9f9;
}

.about-container a {
  color: #333;
}

.about-container a:hover {
  text-decoration: underline;
  color: #0e0e0e;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.portfolio-container {
  background: url('./assets//img/dark-background-gif3.gif');
  font-weight: lighter;
  text-align: center;
  font-size: large;
  padding: 3rem;
}

.projects-principal-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: #ffff;
  height: 100vh;
}

.projects-principal-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: #ffff;
  height: 100vh;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 950px;
  width: 100%;
  margin: 5rem auto;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  border-radius: .2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects-container .projects-container-title {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: auto;
}

.projects-container header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 1rem;
  gap: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #eee;
  width: 100%;
}

.projects-container header button {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.projects-container header button:hover {
  background-color: #555;
}

.projects-list {
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}

.projects-list main {
  display: flex;
  gap: 2rem;
}

.projects-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background-color: #2a2a2a;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  min-width: 300px;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.projects-card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.projects-card-container header {
  background-color: #333;
  padding: 1rem;
}

.projects-container header button {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.projects-container header button:hover {
  background-color: #555;
}

.projects-container header button.active {
  background-color: #007bff;
}

.projects-card-container main img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.projects-card-container footer {
  padding: 1rem;
}

.tech-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.tech-icons div {
  display: flex;
  gap: 1rem;
}

.tech-icons p {
  font-weight: bold;
}

.contact-container header {
  text-align: center;
  padding: 2rem;
  background-color: #181a1b;
  color: #fff;
}

.contact-container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #0f182f;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container main form label {
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}

.contact-container main form label span {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #fff;
}

.contact-container main form input,
.contact-container main form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #eee;
}

.contact-container main form input::placeholder,
.contact-container main form textarea::placeholder {
  color: #999;
}

.contact-container main form input:focus,
.contact-container main form textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-container main form textarea {
  height: 150px;
  resize: vertical;
}

.contact-container main form button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-container main form button:hover {
  background-color: #0056b3;
}

.email-send {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 18px;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* Animações */
@keyframes toBottomDrop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Footer */
.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 5rem;
  bottom: 0;
  padding: 4rem 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  margin: 2rem;
  justify-content: center;
}

.footer h2 {
  margin: 0;
  font-size: 1.5rem;
}

.footer b {
  color: #61dafb;
}

/* Media Queries */
@media screen and (max-width: 450px) {
  .nav-container .lg-screen-div {
    display: none;
  }
  .nav-container .sm-screen-div {
    display: block;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: .5rem auto;
    background-color: #1a1a1a;
    color: #fff;
    padding: 2rem;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .projects-card-container {
    min-width: 100%;
    max-width: 100%;
  }
}
